// Variables of Mist scheme
// =================================================

$font-size-headings-step = 3px
$font-size-headings-base = 30px

$brand-color             = $black-deep
$brand-hover-color       = $brand-color

$site-meta-text-align    = left
$posts-collapse-left     = 0

$btn-default-color       = $link-color
$btn-default-bg          = transparent
